<%= image_tag('ltrip-multi-platform.png') %>
<section class="page bg--grey--dark scheme--red is-out-of-view">
    <!-- <div class="page__body constrict">
        <div class="grid">
            <div class="grid__cell unit-1-2--bp1 unit-1-4--bp3">
                <article class="panel">
                    <header class="panel__header">
                        <div class="panel__no">01</div>
                        <div class="panel__icon icon--eye"></div>
                        <h2 class="panel__title">Focus</h2>
                    </header>
                    <p>We have a 100% commitment to making all our sites the best they can possibly be, no matter what it takes to get there.</p>
                </article>
            </div>
            <div class="grid__cell unit-1-2--bp1 unit-1-4--bp3">
                <article class="panel">
                    <header class="panel__header">
                        <div class="panel__no">02</div>
                        <div class="panel__icon icon--heart-small"></div>
                        <h2 class="panel__title">Passion</h2>
                    </header>
                    <p>Our desire to produce good work runs deep – that’s what lets us handle every project with fresh energy and enthusiasm.</p>
                </article>
            </div>
            <div class="grid__cell unit-1-2--bp1 unit-1-4--bp3">
                <article class="panel">
                    <header class="panel__header">
                        <div class="panel__no">03</div>
                        <div class="panel__icon icon--empathy"></div>
                        <h2 class="panel__title">Empathy</h2>
                    </header>
                    <p>While we share our knowledge and experience, we listen hard to understand your business and your needs.</p>
                </article>
            </div>
            <div class="grid__cell unit-1-2--bp1 unit-1-4--bp3">
                <article class="panel">
                    <header class="panel__header">
                        <div class="panel__no">04</div>
                        <div class="panel__icon icon--team"></div>
                        <h2 class="panel__title">Teamwork</h2>
                    </header>
                    <p>We are united with you in the drive to get the best from your project – think of us as extra members of your team with all the skills you need.</p>
                </article>
            </div>
        </div>
    </div> -->
    <h2 class="dividing-header">Meet the team</h2>
</section>
<section id="danhvo" class="page bg--grey team-member team-member--left team-member--danhvo is-out-of-view">
    <div class="page__body constrict">
        <article class="copy-block copy-block--right">
            <h2 class="block-heading">DANH VO QUANG</h2>
            <p class="intro">Fullstack Developer</p>
            <p>Danh is a co-founder of LTRIP and a creative at heart who will have become a technical architect in the future. He’s a graphic design graduate who felt the lure of digital early on. An expert in web accessibility and standards-based web design, Danh oversees all the technical aspects of our projects.
            </p>
            <ul class="icon-list icon-list--social">
                <li class="fa fa-facebook">
                    <a href="http://www.facbook.com/vqdanh">www.fb.com/vqdanh</a>
                </li>
                <li class="fa fa-linkedin-square">
                    <a href="https://www.linkedin.com/in/vqdanh/">www.linkedin.com/in/vqdanh</a>
                </li>
                <li class="fa fa-skype">
                    <a href="#">danhvoquang</a>
                </li>
            </ul>
        </article>
    </div>
</section>
<section id="cuongnguyen" class="page bg--grey team-member team-member--right team-member--cuongnguyen is-out-of-view">
    <div class="page__body constrict">
        <article class="copy-block copy-block--left">
            <h2 class="block-heading">CUONG NGUYEN HUY</h2>
            <p class="intro">Front-end Developer</p>
            <p>As a front-end developer, Aaron helps to lead the company in responsive design and front-end strategy. It’s a role his all-or-nothing approach to getting things right suits perfectly.</p>
            <p>You could describe Aaron as an enthusiastic traveller, new-technology lover, keen photographer and worshipper of craft beers.</p>
            <ul class="icon-list icon-list--social">
                <li class="fa fa-facebook-offical">
                    <a href="http://www.facbook.com/nguyen.h.cuong.777">fb.com/nguyen.h.cuong.777</a>
                </li>
                <li class="fa fa-linkedin-square">
                    <a href="https://www.linkedin.com/in/huycuongnguyen">https://www.linkedin.com/in/huycuongnguyen</a>
                </li>
                <li class="fa fa-skype">
                    <a href="#">nguyenhuycuong</a>
                </li>
            </ul>
        </article>
    </div>
</section>
<section id="tiendau" class="page bg--grey team-member team-member--left team-member--tiendau is-out-of-view">
    <div class="page__body constrict">
        <article class="copy-block copy-block--right">
            <h2 class="block-heading">DAU THE TIEN</h2>
            <p class="intro">RUBY Developer</p>
            <p>TIEN is a co-founder of LTrip and a lover of simple, effective design. His critical eye oversees all the creative output of the agency and he works closely with our clients to make sure their needs and his drive for design excellence coincide.</p>
            <p>You could describe Tien as a non-fiction book-lover, inspired bin-the-recipe cook, sans serif font aficionado and eternal seeker of inspiration.</p>
            <ul class="icon-list icon-list--social">
                <li class="fa fa-facebook-offical">
                    <a href="http://www.facbook.com/dthtien">fb.com/dthtien</a>
                </li>
                <li class="fa fa-linkedin-square">
                    <a href="https://www.linkedin.com/in/vqdanh/">https://www.linkedin.com/in/dthtien</a>
                </li>
                <li class="fa fa-skype">
                    <a href="#">dthtien</a>
                </li>
            </ul>
        </article>
    </div>
</section>