<h1>Hi, <%= @receiver.email %></h1>

<p>
  You have a invition to trip name <%=link_to @trip.title, trip_url(@trip) %> 
  by <%= @inviter.email %>
</p>

<p>Click <%= link_to "here",  trip_confirm_invite_url(id: @trip.id, user_id: @receiver.id, invite_token: @invite_token) %> to accept a invition </p>

<p><b>Thanks for reading</b>, Sorry for bothering</p>