<a href="<%= photo.image_url %>"  data-gallery>
  <div class="col-md-3">
    <img class="trip-gallery-photo-item" width="100%" style="    max-height: 150px;"
        src="<%= photo.image_url %>">
  </div>
</a>