
.bg--photo {
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover
}

.team .bg--photo {
    background-position: -5em 0
}

@media screen and (min-width: 83em) {
    .team .bg--photo {
        background-position: 0 0
    }
}

.page {
    background-color: #252525
}

@media screen and (min-width: 58.75em) {
    .page-welcome {
        width: 100%;
        position: relative;
        float: left
    }
}

@media screen and (min-width: 58.75em) {
    .page-welcome:before {
        display: block;
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        height: 30px;
        background-color: #FFF;
        width: 15em
    }
}

@media screen and (min-width: 72em) {
    .page-welcome:before {
        width: 17em
    }
}

.page-welcome--split {
    margin-bottom: 3.5em
}

@media screen and (min-width: 58.75em) {
    .page-welcome--split {
        width: auto;
        margin-bottom: 0;
        max-width: 60%;
        margin-top: 5em
    }
}

@media screen and (min-width: 92em) {
    .page-welcome--split {
        max-width: 50%
    }
}

.page-welcome--split:before {
    display: none
}

.page-welcome--bubble {
    background-color: #34ab00;
    padding: 2em 1em;
    margin: 0 auto;
    width: auto;
    max-width: 590px;
    position: relative;
    margin-bottom: 4em
}

@media screen and (min-width: 30em) {
    .page-welcome--bubble {
        width: 22em
    }
}

@media screen and (min-width: 38em) {
    .page-welcome--bubble {
        width: 26.875em;
        padding: 4em 2em
    }
}

@media screen and (min-width: 58.75em) {
    .page-welcome--bubble {
        width: auto;
        float: right;
        margin-bottom: 0
    }
}

.page-welcome--bubble:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -3.9em;
    right: 3em;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 4em 4em 0;
    border-color: transparent #34ab00 transparent transparent
}

.page-welcome--bubble:before {
    display: none
}

.page-welcome--bubble .page-intro {
    float: none
}

.page-title {
    line-height: .95;
    letter-spacing: 3px;
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 1.5em
}

@media screen and (min-width: 25em) {
    .page-title {
        font-size: 1em
    }
}

@media screen and (min-width: 30em) {
    .page-title {
        font-size: 1.2em;
        margin-bottom: .5em
    }
}

@media screen and (min-width: 38em) {
    .page-title {
        font-size: 1.5em
    }
}

@media screen and (min-width: 45em) {
    .page-title {
        font-size: 1.75em
    }
}

@media screen and (min-width: 58.75em) {
    .page-title {
        letter-spacing: 9px;
        margin-bottom: 0;
        font-size: 1.575em;
        text-align: auto;
        float: right
    }
    .page-title span {
        display: block
    }
}

@media screen and (min-width: 68em) {
    .page-title {
        font-size: 1.75em
    }
}

@media screen and (min-width: 72em) {
    .page-title {
        font-size: 2em
    }
}

@media screen and (min-width: 92em) {
    .page-title {
        font-size: 2.2em
    }
}

@media screen and (min-width: 92em) {
    .case-study-intro .page-title,
    .multi-page-intro .page-title-no-resize {
        font-size: 2em
    }
}

@media screen and (min-width: 100em) {
    .case-study-intro .page-title,
    .multi-page-intro .page-title-no-resize {
        font-size: 2.2em
    }
}

.page-title--approach {
    margin-bottom: .5em
}

.page-title--approach .page-title__l1 {
    font-size: 5.8em
}

.page-title--approach .page-title__l2 {
    font-size: 3.9em
}

@media screen and (min-width: 72em) {
    .page-title--approach+.page-intro {
        width: 697px
    }
}

.page-title--about {
    letter-spacing: 9px;
    line-height: .85;
    margin-bottom: .5em
}

.page-title--about .page-title__l1 {
    font-size: 7.34375em
}

.page-title--about .page-title__l2 {
    font-size: 4.58125em
}

@media screen and (min-width: 72em) {
    .page-title--about+.page-intro {
        width: 639px
    }
}

.page-title--work .page-title__l1 {
    font-size: 3.96875em
}

.page-title--work .page-title__l2 {
    font-size: 7.21875em
}

@media screen and (min-width: 72em) {
    .page-title--work+.page-intro {
        width: 471
    }
}

.page-title--contact {
    letter-spacing: .4em
}

.page-title--contact .page-title__l1 {
    font-size: 4.5625em
}

@media screen and (min-width: 38em) {
    .page-title--contact {
        letter-spacing: .1em
    }
}

@media screen and (min-width: 72em) {
    .page-title--contact+.page-intro {
        width: 478px
    }
}

.page-title--leadership {
    letter-spacing: .1em
}

.page-title--leadership .page-title__l1 {
    font-size: 2.1875em
}

.page-title--leadership .page-title__l2 {
    font-size: 3.8625em
}

.page-title--baps {
    letter-spacing: .1em
}

.page-title--baps .page-title__l1 {
    font-size: 8.1875em
}

.page-title--south-tees {
    letter-spacing: .1em
}

.page-title--south-tees .page-title__l1 {
    font-size: 3.1875em
}

.page-title--south-tees .page-title__l2 {
    font-size: 3.5625em
}

.page-title--acpgbi {
    letter-spacing: .1em
}

.page-title--acpgbi .page-title__l1 {
    font-size: 5.7em
}

.page-title--acpgbi .page-title__l2 {
    font-size: 1.75em
}

@media screen and (min-width: 58.75em) {
    .page-title--acpgbi {
        margin-bottom: .5em
    }
}

.page--nhs .page-title {
    width: 100%;
    text-align: center;
    letter-spacing: .1em
}

@media screen and (min-width: 58.75em) {
    .page--nhs .page-title {
        margin-bottom: .5em
    }
}

.page--nhs .page-title__l1 {
    font-size: 5.7em
}

.page--nhs .page-title__l2 {
    font-size: 1.75em
}

@media screen and (min-width: 58.75em) {
    .page--nhs .page-welcome--split {
        margin-top: 0
    }
}

@media screen and (min-width: 92em) {
    .page--nhs .page-welcome--split {
        max-width: 50%
    }
}

.page--nhs .page__body.body__inner {
    max-width: 51em
}

.page-title--support {
    margin-bottom: .5em;
    letter-spacing: .1em
}

.page-title--support .page-title__l1 {
    font-size: 4em
}

.page-title--support .page-title__l2 {
    font-size: 4em;
    letter-spacing: .1em
}

.page-title--warranty {
    margin-bottom: .5em;
    text-align: center;
    float: none;
    letter-spacing: .1em
}

.page-title--warranty .page-title__l1 {
    font-size: 4em
}

.page-intro,
.page-intro--no-resize {
    font-family: "brandon-grotesque", sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin: 0 auto;
    clear: both
}

@media screen and (min-width: 58.75em) {
    .page-intro,
    .page-intro--no-resize {
        float: right;
        width: 35.5em
    }
}

@media screen and (min-width: 45em) {
    .page-intro,
    .page-intro--no-resize {
        font-size: 1.15em
    }
}

@media screen and (min-width: 68em) {
    .page-intro,
    .page-intro--no-resize {
        width: 34.7em
    }
}

@media screen and (min-width: 72em) {
    .page-intro,
    .page-intro--no-resize {
        font-size: 1.375em;
        width: 33.4em
    }
}

@media screen and (min-width: 92em) {
    .page-intro,
    .page-intro--no-resize {
        width: 37em
    }
}

@media screen and (min-width: 72em) {
    .page-intro--no-resize {
        font-size: 1.5em
    }
}

.primary-title {
    font-size: 2.75em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1.25em
}

@media screen and (min-width: 30em) {
    .primary-title {
        font-size: 2.75em
    }
}

@media screen and (min-width: 58.75em) {
    .primary-title {
        font-size: 3.5em
    }
}

.dividing-header {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 1.2em 0;
    color: #FFF;
    text-align: center;
    font-size: 1.75em;
    background-color: #252525;
    z-index: 5
}

@media screen and (min-width: 58.75em) {
    .dividing-header {
        font-size: 2.5em
    }
}

.dividing-header:after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 100%;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 18px 18px 0 18px;
    border-color: #252525 transparent transparent transparent
}

@media screen and (min-width: 58.75em) {
    .copy-block {
        max-width: 38.8125em;
        float: left
    }
    .portfolio .copy-block {
        max-width: 40%
    }
}

.copy-block p:last-child {
    margin-bottom: 0
}

@media screen and (max-width: 58.75em) {
    .grid .copy-block {
        margin-bottom: 3em
    }
}

@media screen and (min-width: 58.75em) {
    .copy-block--right {
        float: right
    }
}

.copy-block--solid {
    color: #252525;
    position: relative
}

@media screen and (min-width: 58.75em) {
    .copy-block--solid {
        background-color: #FFF;
        padding-bottom: 10em
    }
}

@media screen and (min-width: 83em) {
    .copy-block--solid {
        bottom: -1px
    }
}

.copy-block__inner {
    padding: 0 1.5em
}

@media screen and (min-width: 58.75em) {
    .copy-block__inner {
        padding: 3em
    }
    .copy-block__inner h2,
    .copy-block__inner h3 {
        margin-top: 1.25em
    }
}

.copy-block__header {
    padding: 0 1.5em 1.5em 1.5em
}

.copy-block__header .block-heading {
    margin-bottom: 0 !important
}

@media screen and (min-width: 58.75em) {
    .copy-block__header {
        padding: 4em 2em;
        background-color: #252525
    }
}

.block-heading {
    display: block;
    line-height: 1.1;
    margin-top: 0;
    font-size: 2.2em
}

@media screen and (min-width: 58.75em) {
    .block-heading {
        display: inline-block;
        font-size: 2.75em
    }
}

@media screen and (min-width: 83em) {
    .block-heading {
        font-size: 3.4em
    }
}

.block-heading--numbered {
    position: relative;
    padding-left: 4.5em;
    font-size: 1.65em
}

.block-heading--numbered[data-numbered="01/"] {
    padding-left: 4em
}

@media screen and (min-width: 25em) {
    .block-heading--numbered {
        font-size: 2.2em
    }
}

@media screen and (min-width: 58.75em) {
    .block-heading--numbered {
        font-size: 2.75em;
        margin-left: -.15em
    }
}

@media screen and (min-width: 83em) {
    .block-heading--numbered {
        font-size: 3.4em
    }
}

.grid .block-heading--numbered {
    margin-bottom: 1em
}

@media screen and (min-width: 58.75em) {
    .grid .block-heading--numbered {
        font-size: 2.25em;
        margin-bottom: 1.35em
    }
}

@media screen and (min-width: 83em) {
    .grid .block-heading--numbered {
        font-size: 2.75em
    }
}

@media screen and (min-width: 92em) {
    .grid .block-heading--numbered {
        font-size: 3em
    }
}

.block-heading--numbered:before {
    display: block;
    content: attr(data-numbered);
    font-size: 2.7em;
    line-height: .8;
    position: absolute;
    left: 0;
    letter-spacing: 2px
}

.team-member {
    color: #252525;
    -moz-background-size: contain;
    -o-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 70%
}

@media screen and (min-width: 30em) {
    .team-member {
        padding-top: 45%
    }
}

@media screen and (min-width: 58.75em) {
    .team-member {
        -moz-background-size: cover;
        -o-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
        padding-top: 0
    }
}

.team-member .intro {
    color: #d62323
}

.team-member .intro--yellow {
    color: #ffde00
}

@media screen and (min-width: 58.75em) {
    .team-member--right {
        background-position: -13em 0
    }
}

@media screen and (min-width: 68em) {
    .team-member--right {
        background-position: -5em 0
    }
}

@media screen and (min-width: 72em) {
    .team-member--right {
        background-position: -8em 0;
        min-height: 760px
    }
}

@media screen and (min-width: 83em) {
    .team-member--right {
        min-height: 850px
    }
}

@media screen and (min-width: 92em) {
    .team-member--right {
        background-position: top left
    }
}

.team-member--left {
    background-position: top left
}

@media screen and (min-width: 58.75em) {
    .team-member--left {
        background-position: -25em 0
    }
}

@media screen and (min-width: 68em) {
    .team-member--left {
        background-position: -17em 0;
        min-height: 650px
    }
}

@media screen and (min-width: 72em) {
    .team-member--left {
        background-position: -13em 0;
        min-height: 700px
    }
}

@media screen and (min-width: 83em) {
    .team-member--left {
        background-position: -10em 0;
        min-height: 745px
    }
}

@media screen and (min-width: 92em) {
    .team-member--left {
        background-position: top right
    }
}

.team-member--danhvo {
    background-image: url(/assets/images/danhvo_thumb.png)
}

@media screen and (min-width: 30em) {
    .team-member--danhvo {
        background-image: url(/assets/images/danhvo.png)
    }
}

.team-member--cuongnguyen {
    background-image: url(/assets/images/cuongnguyen_thumb.png)
}

@media screen and (min-width: 30em) {
    .team-member--cuongnguyen {
        background-image: url(/assets/images/cuongnguyen.png)
    }
}

.team-member--tiendau {
    background-image: url(/assets/images/tiendau_thumb.png)
}

@media screen and (min-width: 30em) {
    .team-member--tiendau {
        background-image: url(/assets/images/tiendau.png)
    }
}
