/*
  *= require vendor
  *= require_self
  *= require select2-bootstrap
  
*/
@import "blueimp-gallery";
@import "bootstrap-image-gallery";
@import "blueimp-gallery-indicator";
@import "blueimp-gallery-video";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-material-design";
@import "font-awesome";
@import "bootstrap-wysihtml5/bootstrap3-wysihtml5";
@import "about-us-print";
@import "about-us-screen";
@import "main";
@import "responsive";
@import "button-component";
@import "trips";
@import "about-us-print";
@import "about-us-screen";

.slick-slide img {
    display: block;
    height: 160px;
    width: 100%;
}
.tour-post .p-name {
    margin-bottom: 22px;
    min-height: 40px;
}
body{
  background: white;
}
.btn-orange {
    background-color: #fc4242;
    box-shadow: inset 0 -2px 0 rgba(0,0,0,0.25);
}.sohp-button {
    background-image: linear-gradient(bottom,rgba(0,0,0,0.08) 0,rgba(255,255,255,0.08) 100%);
    background-image: -moz-linear-gradient(bottom,rgba(0,0,0,0.08) 0,rgba(255,255,255,0.08) 100%);
    background-image: -ms-linear-gradient(bottom,rgba(0,0,0,0.08) 0,rgba(255,255,255,0.08) 100%);
    background-image: -o-linear-gradient(bottom,rgba(0,0,0,0.08) 0,rgba(255,255,255,0.08) 100%);
    background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,0.08) 0,rgba(255,255,255,0.08) 100%);
    border: 0;
    border-radius: 4px;
    box-shadow: inset 0 -2px 0 rgba(0,0,0,0.25);
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    margin-bottom: 0;
    text-align: center;
    user-select: none;
    whitespace: nowrap;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,0.25);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}.btn-transparent {
    background: 0;
    color: #FFF;
    border: solid 1px #FFF;
    box-shadow: none;
}.landing-btn {
    padding: 15px 35px;
    font-size: 18px;
    height: 55px;
    line-height: 1.4;
}.btn-transparent:hover, .btn-transparent:focus {
    color: #FFF;
    background-color: rgba(255,255,255,0.15);
    text-decoration: none;
}.btn-orange:hover {
    color: #FFF;
    background-color: #f8a63e;
    box-shadow: inset 0 -2px 0 rgba(0,0,0,0.25);
    text-decoration: none;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #f16161 !important;
}
/* .modal-fullscreen */

.modal-fullscreen {
  background: transparent;
}
.modal-fullscreen .modal-content {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-backdrop.modal-backdrop-fullscreen {
  background: #ffffff;
}
.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: .97;
  filter: alpha(opacity=97);
}

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
     width: 1170px;
  }
}
.accommodation li{
  width: 60%;
}
.modal-content .modal-header {
    border-bottom: none;
    position: absolute;
    right: 0px;
    top: 10px;
    padding-top: 0px;
    padding-right: 24px;
    padding-bottom: 0px;
    padding-left: 24px;
}
.blueimp-gallery{
    background: rgba(0, 0, 0, 0.7);
}
.modal-content .modal-body + .modal-footer {
    padding-top: 30px;
}
.modal-dialog{
  background: transparent;
}
.nav-tabs li.active{
  background: #ec3f3f;
  padding-right: 10px;
}
   span.select2-container {
    z-index:10050;
}
.select2-container--bootstrap .select2-search--dropdown .select2-search__field{
  position: relative;
  z-index: 9999;
}
.select2-container--bootstrap .select2-dropdown{
  width: 100%;
  max-width: 300px;
}
.select2-container--bootstrap {
    display: block;
    width: 100% !important;
}
.nav-tabs {
    background: #f16161 !important;
}
.modal input, button, select, textarea{
  width: 100%;
}
footer{
  
}.modal {
  -webkit-transform: translate3d(0, 0, 0);
}
.btn:not(.btn-link):not(.btn-flat), .btn-default:not(.btn-link):not(.btn-flat) {
    background-color: gainsboro;
    color: rgba(255, 255, 255, 0.84);
    color: rgba(0, 0, 0, 0.84);
}
.form-inline .form-control{
  padding-left: 5px;
}
.tab-pane{
  border: none;
}
.modal-content {
    padding: 30px;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.modal-dialog button{
  position: static !important;
}
.twitter-typeahead{
  width: 100%;
}
/*typeahead*/
.tt-menu {
  width: 100%;
  text-align: left;
  border: 1px solid #BBBBBB;
  background-color: #EFEFEF;
  font-size: 20px;
  padding: 8px 5px;
  .tt-suggestion {
    cursor: pointer;
  }
}

.short-border {
  display: inline-block;
  padding: 0 80px;
}

/*itinerary*/
.panel.with-nav-tabs {
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  font-size: 24px;
  border-color: transparent;
  background: transparent;
}

.panel.with-nav-tabs .panel-heading {
  padding: 5px 5px 0 5px;
  background: transparent;
}

.panel.with-nav-tabs .nav-tabs {
  border-bottom: none;
}

.panel.with-nav-tabs .nav-justified {
  margin-bottom: -1px;
}

/*itinerary*/
.panel.with-nav-tabs {
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  font-size: 24px;
  border-color: transparent;
  background: transparent;
}

.panel.with-nav-tabs .panel-heading {
  padding: 5px 5px 0 5px;
  background: transparent;
}

.panel.with-nav-tabs .nav-tabs {
  border-bottom: none;
}

.panel.with-nav-tabs .nav-justified {
  margin-bottom: -1px;
}

/********************************************************************/
/*** PANEL DEFAULT ***/
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
  color: #777;
}

.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
  color: #777;
  background-color: #ddd;
  border-color: transparent;
}

.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
  color: #fff;
  background-color: #DEC698;
  border-color: #ddd;
  border-bottom-color: transparent;
}

.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
  background-color: #f5f5f5;
  border-color: #ddd;
}

.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
  color: #777;
}

.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
  background-color: #ddd;
}

.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
  color: #fff;
  background-color: #555;
}

.sortable {
  list-style: none;
  padding: 0;
}

.form-schedule {
  box-shadow: none;
  background: transparent;

  label {
    font-size: 20px;
    display: block;
  }
  input {
    position: relative;
    vertical-align: top;
    width: 324px;
    background-color: transparent;
  }
  .addItineraryBtn {
    width: 324px;
    background-color: #DC4B32;
    color: #fff;
    font-size: 20px;
    margin-top: 8px;
  }
}

.day-transfer {
  font-size: 18px;
}

.day-place-detail {
  background-color: #fbfaf7;
  padding: 8px;
  position: relative;
  z-index: 1;
  text-align: left;
  height: auto;
  overflow: hidden;
  font-size: 14px;
  .col-img {
    float: left;
    padding: 0;
    width: 55px;
    img{
       width: 50px;
       height: 50px;
    }
  }
  .col-name {
    float: left;
    width: 215px;
  }
  .col-remove {
    float: left;
    padding: 0;
    width: 30px;
  }
  .day-place-name {
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
    position: relative;
    top: 5px;
  }
  .day-place-detail-middle {
    padding: 0;
  }
  .tag {
    background: #aaa;
    color: #fff;
    line-height: 14px;
    margin: 10px 3px 4px 0;
    padding: 8px 4px;
    font-size: 14px;
    width: 90px;
  }
  .remove-itinerary {
    margin-top: 10px;
  }
  
  .day-transfer {
    background: #fff;
    color: #767676;
    font-size: 12px;
    line-height: 28px;
    padding-left: 12px;
    position: relative;
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
    z-index: 2;
  }
  .day-transfer:before {
    margin-right: 39px;
  }
}

.add-to-itinerary-form {
  .modal-header {
    color: #fff;
    background-color: #DEC698;
  }
  .tt-menu {
    height: 300px;
    overflow: auto;
  }
}

.hot-action-button {
  width: 300px;
  font-size: 24px;
  background-color: #DC4B32;
  color: #fff;
  border: 1px solid #fff;
}

.dropdown-suggestion {
  padding: 16px 8px;
  float: left;
  border-bottom: 1px solid #8F6618;
  width: 100%;
  image {

  }
  .dropdown-suggestion-image {
    float: left;
    width: 60px;
  }
}

.add_friend_result_wraper {
  display: inline-block;
  padding-right: 10px;
}

.result_name {
  margin-right: 3px;
}

.notification {
  border: 1px solid #A9A9A9;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  color: black;
}

.notification-box {
  min-width: 250px !important;
  font-size: 18px;
  padding: 8px;
}

.dropdown-suggestion-name {
  float: left;
  width: 200px;
}

.tt-menu {
  background-color: #616161;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-button {
  font-size: 16px;
  background: #DEC698 !important;
  color: #fff;
  width: 100px;
}

.budget-plan {
  padding: 0 16px;
}

.budget-plan-table {
  font-size: 20px;
}

.budget-row {
  border-bottom: 1px solid #777;
  float: left;
  width: 100%;
}

.header-budget {
  font-size: 24px;
  color: #000;
  padding: 8px;
}

.foot-nav {
  float: left;
  width: 100%;
  padding: 16px 0;
}

.section-budget-header {
  background-color: #983F3E;
  color: #fff;
  font-size: 24px;
  padding: 8px 0;
}

.section-budget-item {
  padding: 16px 0;
  background-color: #fff;
}

.total-budget {
  background-color: #777;
  padding: 16px 0;
  font-size: 24px;
  color: #fff;
  text-align: right;
}

.budget-plan-split-individual {
  font-size: 20px;
  .budget-row {
    padding: 16px 0;
  }
}

.budget-plan-split-individual-title {
  font-size: 24px;
  font-weight: bolder;
  padding: 8px;
  display: block;
}

.assignee-name {
  font-size: 20px;
  .panel-title {
    font-size: 20px;
  }
}

.budget-item-form {
  select {
    height: 45px;
  }
  button {
    font-size: 20px;
    height: 45px;
  }
}

.budget-plan-item-action {
  .glyphicon-edit {
    margin-right: 16px;
  }
}

#photos-place img {
  object-fit: cover;
  padding: 8px;
}

.btn-behind-title {
  display: block;
  padding: 8px;
}

.import-facebook-album {
  background-color: #45619D;
  color: #fff;
  display: inline-block;
  margin: 0 auto;
  font-size: 24px;
  padding: 16px;

}

.import-facebook-album:hover {
  background-color: #fff;
  color: #45619D;
  text-decoration: none;
}

.table > thead > tr > th, .table > thead > tr > td,
.table > tbody > tr > th, .table > tbody > tr > td,
.table > tfoot > tr > th, .table > tfoot > tr > td {
  vertical-align: baseline;
}

#importFBAlbumModal {
  .modal-header {
    background-color: #45619D;
    color: #fff;
    font-size: 24px;
  }
  .modal-body {
    background: image-url('bg_import_fb.jpg') no-repeat;
  }
  .close {
    color: #fff;
    opacity: 1;
  }
  .trip-gallery-photo-item {
    object-fit: cover;
  }
  .facebook-album-list {
    font-size: 18px;
    th {
      text-align: center;
      color: #45619D;
      font-size: 20px;
    }
    .select-album-btn {
      padding: 5px 18px;
      font-size: 18px;
    }
  }
}

.budget-plan-edit-form {
  .modal-header {
    background-color: #983F3E;
    color: #fff;
    font-size: 24px;
  }
  .close {
    color: #fff;
    opacity: 1;
  }
  input {
    width: 324px;
    display: block;
    margin: 0 auto;
  }
  label {
    font-size: 20px;
    display: block;
    text-align: center;
  }

  select {
    width: 324px;
    height: 30px;
    margin: 0 auto;
  }
  .btn-success {
    font-size: 20px;
    width: 200px;
  }

}

.btn-publish-trip {
  font-size: 18px;
  .glyphicon {
    margin-left: 5px;
  }
}

.delete-day-btn {
  width: 300px;
  font-size: 24px;
  background-color: #fff;
  color: #DC4B32;
  margin-top: 16px;
  .glyphicon {
    margin-right: 8px;
  }
}

.trip-display {
  float: left;
  width: 100%;
  margin-bottom: 80px;
}

.trip-basic-info-display {
  text-align: center;
  padding: 16px;
  .trip-title {
    font-size: 50px;
    color: #943e2d;
  }
  span {
    padding: 8px;
  }
  .trip-destination {
    font-size: 24px;
    color: #333333;
    border-bottom: 1px dashed #730E15;
  }
  .trip-time {
    display: block;
    font-size: 24px;
  }
  .trip-participant-list {
    font-size: 20px;
    img {
      width: 30px;
      height: 30px;
    }
  }
  .trip-description {
    font-size: 20px;
    margin-top: 8px;
    display: inline-block;
    text-align: justify;
    width: 700px;
    color: #777;
  }
}

.trip-itinerary-display {
  text-align: center;
  background-color: rgba(191, 170, 63, 0.1);
  padding: 8px 0 16px 0;
}

.trip-budget-display {
  width: 100%;
  text-align: center;
  float: left;
  .budget-plan {
    padding: 24px;
  }
  .budget-plan-table {
    width: 60%;
    font-size: 20px;
    margin: 0 auto;
    float: none;
  }
  .total-budget {
    text-align: center;
  }
}

.fix-btn-bar {
  float: left;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 9999;
  background-color: #F9F7EC;
  text-align: center;
  padding: 16px;
  .btn-success {
    font-size: 24px;
  }
  .glyphicon {
    margin-right: 3px;
  }
}

.trip-gallery-display {
  float: left;
  width: 100%;
  text-align: center;
  background-color: rgba(191, 170, 63, 0.1);
  padding: 8px 0 16px 0;
  .trip-gallery-carousel {
    width: 880px;
    margin: 16px auto;
  }
}

.slick-prev:before, .slick-next:before {
  color: #4C4A4A;
}

.profile-basic-info {
  padding: 16px;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  h2 {
    color: #900C0C;
  }
}

.top-contributor-icon {
  background: image-url('star_1.png') no-repeat;
  display: inline-block;
  height: 50px;
  width: 50px;
}

.second-contributor-icon {
  background: image-url('star_2.png') no-repeat;
  display: inline-block;
  height: 50px;
  width: 50px;
}

.third-contributor-icon {
  background: image-url('star_3.png') no-repeat;
  display: inline-block;
  height: 50px;
  width: 50px;
}

.profile-photo {
  width: 200px;
  float: left;
  display: block;
}

.profile-photo img {
  width: 200px;
  height: 200px;
}

.profile-email {
  display: block;
  font-size: 20px;
  padding: 8px;
  .glyphicon {
    margin-right: 8px;
  }
}

.basic-info {
  float: left;
}

.horizontal-block-center {
  text-align: center;
  margin-top: 16px;
}

.horizontal-block-center-bg-yellow {
  text-align: center;
  padding: 16px;
  background-color: rgba(191, 170, 63, 0.1);
}

/*trip cards*/
.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
  margin-top: 0px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
  .glyphicon {
    margin-right: 8px;
  }
}

.card span.card-title {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.card .card-image {
  position: relative;
  overflow: hidden;
}

.card .card-image img {
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
  position: relative;
  z-index: -1;
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.card .card-image span.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
}

.card .card-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}

.card .card-content .trip-budget {
  color: #730E15;
  font-size: 18px;
}

.card .card-content p {
  margin: 0;
  color: inherit;
  font-size: 20px;
}

.card .card-content span.card-title {
  line-height: 48px;
}

.card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px;
}

.card .card-action a {
  color: #fff;
  margin-right: 16px;
  transition: color 0.3s ease;
  text-transform: uppercase;
}

.card .card-action a:hover {
  color: #ffd8a6;
  text-decoration: none;
}

.num-people-clone {
  color: #4C4A4A;
  font-size: 18px;
  display: block;
  padding: 8px;
}

/*home page*/
.search-icon {
  background: image-url('isearch.png') no-repeat;
  display: block;
  height: 100px;
  width: 100px;
  opacity: 0.5;
  margin: 0 auto;
}

.planning-icon {
  background: image-url('iplanning.png') no-repeat;
  display: block;
  height: 100px;
  width: 100px;
  opacity: 0.5;
  margin: 0 auto;
}

.share-icon {
  background: image-url('ishare.png') no-repeat;
  display: block;
  height: 100px;
  width: 100px;
  opacity: 0.5;
  margin: 0 auto;
}

.site-features {
  text-align: center;
}

.site-feature {
  padding: 16px 32px;
  h3 {
    text-align: center;
    border-bottom: 2px solid #A51919;
    padding: 16px;
  }
}

.feature-info {
  display: block;
  width: 70%;
  margin: auto;
  p {
    font-size: 18px;
  }
}

h2.home-info {
  text-align: center;
  color: #A51919;
}

.site-best-contributor {
  width: 100%;
  float: left;
  padding: 16px;
  text-align: center;
  h2 {
    text-transform: uppercase;
    color: #A51919;
  }
}

.best-contributor-carousel {
  width: 865px;
  margin: 16px auto;
  .slick-slide {
    background-color: rgba(142, 87, 39, 0.41);
    margin-right: 24px;
    a {
      color: #F7F7F7;
    }
  }
  .slick-prev:before, .slick-next:before {
    color: #A51919;
    font-size: 24px;
  }
  .best-contributor-photo {
    width: 100%;
    float: left;
    img {
      object-fit: cover;
      border-bottom: 1px solid #777;
    }
  }
  .contributor-info {
    width: 100%;
    float: left;
    text-align: center;
    padding: 8px 0;
  }
  .num-contribution {
    display: block;
    font-size: 18px;
    color: #A51919;
    font-weight: bolder;
  }
}

.site-our-team {
  width: 100%;
  float: left;
  text-align: center;
  background-color: #DEBF74;
  h2 {
    color: #fff;
  }

  .team-info {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
  }
  .site-mem {
    padding: 16px 32px;

  }
  .mem-name {
    display: block;
    margin: auto;
    h3 {
      text-transform: uppercase;
      font-size: 24px;
      color: #fff;
    }
  }
}
.u-photo img{
      max-height: 244px;
    min-width: 372px;
}
.place-basic-info {
  text-align: center;
  padding: 16px;
  h2 {
    color: #A51919;
    font-weight: bold;
  }
  p {
    font-size: 18px;
  }
}

.rating-icon {
  background: image-url('irating.png') no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.photo-place-detail {
  text-align: center;
}

.map-place-detail {
  text-align: center;
  padding: 16px;
}
#notificationLink{
    right: 11%;
    top: 16px;
    position: absolute;
}
#notification_li
			{
			position:relative
			}
			#notificationContainer 
			{
        background-color: #fff;
        border: 1px solid rgba(100, 100, 100, 0.4);
        -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
        overflow: visible;
        position: absolute;
        top: 46px;
        /* margin-left: 100px; */
        width: 400px;
        right: -5%;
        z-index: 9999;
        display: none;
			}
			// Popup Arrow
			#notificationContainer:before {
			content: '';
			display: block;
			position: absolute;
			width: 0;
			height: 0;
			color: transparent;
			border: 10px solid black;
			border-color: transparent transparent white;
			margin-top: -20px;
			margin-left: 188px;
			}
			#notificationTitle
			{
			font-weight: bold;
			padding: 8px;
			font-size: 13px;
			background-color: #ffffff;
			position: fixed;
			z-index: 1000;
			width: 384px;
			border-bottom: 1px solid #dddddd;
			}
			#notificationsBody
			{
			padding: 33px 0px 0px 0px !important;
			min-height:300px;
			}
			#notificationFooter
			{
			background-color: #fc4242;
			text-align: center;
			font-weight: bold;
			padding: 8px;
			font-size: 12px;
			border-top: 1px solid #dddddd;
			}



		#notification_count 
		{
		padding: 3px 7px 3px 7px;
		background: #cc0000;
		color: #ffffff;
		font-weight: bold;
		margin-left: 77px;
		border-radius: 9px;
		-moz-border-radius: 9px; 
		-webkit-border-radius: 9px;
		position: absolute;
		margin-top: -11px;
		font-size: 11px;
		}
.notification-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.notification-btn {
  background-color: transparent;
}

.featured-destinations {
  width: 100%;
  background-color: #DEBF74;
  float: left;
  padding: 16px;
  text-align: center;
  h2 {
    text-transform: uppercase;
    color: #fff;
  }
  .featured-city {
    margin-right: 8px;
  }
}

.region-header {
  img {
    width: 100%;
  }
}

.region-info {
  padding: 16px;
  font-size: 20px;
  p {
    width: 60%;
    margin: auto;
  }
}

.form-search {
  display: table;
  margin: 0 auto;
  input, .btn {
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    border: none;
  }
}

.home-destination-list {
  img {
    width: 100%;
  }
  a {
    margin-bottom: 15px;
  }
}

/* Pen Title */
.pen-title {
  padding: 20px 0;
  text-align: center;
  letter-spacing: 2px;
}
.pen-title h1 {
  margin: 0 0 20px;
  font-size: 40px;
  font-weight: 300;
}
.pen-title span {
  font-size: 12px;
}
.pen-title span .fa {
  color: #ed2553;
}
.pen-title span a {
  color: #ed2553;
  font-weight: 600;
  text-decoration: none;
}

/* Rerun */
.rerun {
  margin: 0 0 30px;
  text-align: center;
}
.rerun a {
  cursor: pointer;
  display: inline-block;
  background: #ed2553;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 10px 20px;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.rerun a:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* Scroll To Bottom */
#codepen, #portfolio {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #ec2652;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #ffffff;
  text-align: center;
}
#codepen i, #portfolio i {
  line-height: 56px;
}
#codepen:hover, #portfolio:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* CodePen */
#portfolio {
  bottom: 96px;
  right: 36px;
  background: #ec2652;
  width: 44px;
  height: 44px;
  -webkit-animation: buttonFadeInUp 1s ease;
  animation: buttonFadeInUp 1s ease;
}
#portfolio i {
  line-height: 44px;
}

/* Container */
.container.login {
  position: relative;
  max-width: 560px;
  width: 100%;
  margin: 0 auto 100px;
}
.container.active .card:first-child {
  background: #f2f2f2;
  margin: 0 15px;
}
.container.active .card:nth-child(2) {
  background: #fafafa;
  margin: 0 10px;
}
.container.active .card.alt {
  top: 20px;
  right: 0;
  width: 100%;
  min-width: 100%;
  height: auto;
  border-radius: 5px;
  padding: 60px 0 40px;
  overflow: hidden;
}
.container.active .card.alt .toggle {
  position: absolute;
  top: 40px;
  right: -70px;
  box-shadow: none;
  -webkit-transform: scale(14);
  transform: scale(15);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}
.container.active .card.alt .toggle:before {
  content: '';
}
.container.active .card.alt .title,
.container.active .card.alt .input-container,
.container.active .card.alt .button-container {
  left: 0;
  opacity: 1;
  visibility: visible;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.container.active .card.alt .title {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}
.container.active .card.alt .input-container {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}
.container.active .card.alt .input-container:nth-child(2) {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}
.container.active .card.alt .input-container:nth-child(3) {
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}
.container.active .card.alt .button-container {
  -webkit-transition-delay: .7s;
          transition-delay: .7s;
}

/* Card */
.card {
  position: relative;
  background: #ffffff;
  border-radius: 5px;
  padding: 60px 0 40px 0;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  /* Title */
  /* Inputs */
  /* Button */
  /* Footer */
  /* Alt Card */
}
.card:first-child {
      background: #fafafa;
    height: 10px;
    border-radius: 5px 5px 0 0;
    margin: 0 0px;
    width: 95%;
    right: -3%;
    padding: 0;
    position: relative;
    top: 5px;
}
.card .title {
  position: relative;
  z-index: 1;
  border-left: 5px solid #ec2652;
  margin: 0 0 35px;
  padding: 10px 0 10px 50px;
  color:#ec2652;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}
.card .input-container {
  position: relative;
  margin: 0 60px 50px;
}
.card .input-container input {
  outline: none;
  z-index: 1;
  position: relative;
  background: none;
  width: 100%;
  height: 54px;
  border: 0;
  color: #212121;
  font-size: 20px;
  font-weight: 400;
}
.card .input-container input:focus ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}
.card .input-container input:focus ~ .bar:before, .card .input-container input:focus ~ .bar:after {
  width: 50%;
}
.card .input-container input:valid ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -75%) scale(0.75);
          transform: translate(-12%, -75%) scale(0.75);
}
.card .input-container label {
  position: absolute;
  top: 0;
  left: 0;
  color: #757575;
  font-size: 24px;
  font-weight: 300;
  line-height: 60px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.card .input-container .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #757575;
  width: 100%;
  height: 1px;
}
.card .input-container .bar:before, .card .input-container .bar:after {
  content: '';
  position: absolute;
  background: #ec2652;
  width: 0;
  height: 2px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}
.card .input-container .bar:before {
  left: 50%;
}
.card .input-container .bar:after {
  right: 50%;
}
.card .button-container {
  margin: 0 60px;
  text-align: center;
}
.card .button-container input {
  outline: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: 0;
  width: 240px;
  border: 2px solid #e3e3e3;
  padding: 20px 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card .button-container button span {
  position: relative;
  z-index: 1;
  color: #ddd;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card .button-container button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background: #ec2652;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: -15px 0 0 -15px;
  opacity: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card .button-container button:hover, .card .button-container button:active, .card .button-container button:focus {
  border-color: #ec2652;
}
.card .button-container button:hover span, .card .button-container button:active span, .card .button-container button:focus span {
  color: #ec2652;
}
.card .button-container button:active span, .card .button-container button:focus span {
  color: #ffffff;
}
.card .button-container button:active:before, .card .button-container button:focus:before {
  opacity: 1;
  -webkit-transform: scale(10);
  transform: scale(10);
}
.card .footer {
  margin: 40px 0 0;
  color: #d3d3d3;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
.card .footer a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card .footer a:hover {
  color: #bababa;
}
.card.alt {
  position: absolute;
  top: 40px;
  right: -70px;
  z-index: 10;
  width: 100px;
  height: 100px;
  background: none;
  border-radius: 100%;
  box-shadow: none;
  padding: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  /* Toggle */
  /* Title */
  /* Input */
  /* Button */
}
.card .input-container input{
  box-shadow: none;
}
.card.alt .toggle {
  position: relative;
  background: #ec2652;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #ffffff;
  font-size: 42px;
  line-height: 100px;
  text-align: center;
  cursor: pointer;
}
.card.alt .toggle:before {
  content: '\f067';
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.card.alt .title,
.card.alt .input-container,
.card.alt .button-container {
  left: 100px;
  opacity: 0;
  visibility: hidden;
}
.card.alt .title {
  position: relative;
  border-color: #ffffff;
  color: #ffffff;
}
.card.alt .title .close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 60px;
  display: inline;
  color: #ffffff;
  font-size: 58px;
  font-weight: 400;
}
.card.alt .title .close:before {
  content: '\00d7';
}
.card.alt .input-container input {
  color: #ffffff;
}
.card.alt .input-container input {
    color: #ffffff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.card.alt .input-container input:focus ~ label {
  color: #ffffff;
}
.card.alt .input-container input:focus ~ .bar:before, .card.alt .input-container input:focus ~ .bar:after {
  background: #ffffff;
}
.card.alt .input-container input:valid ~ label {
  color: #ffffff;
}
.card.alt .input-container label {
  color: rgba(255, 255, 255, 0.8);
}
.card.alt .input-container .bar {
  background: rgba(255, 255, 255, 0.8);
}
.card.alt .button-container button {
  width: 100%;
  background: #ffffff;
  border-color: #ffffff;
}
.card.alt .button-container button span {
  color: #ec2652;
}
.card.alt .button-container button:hover {
  background: rgba(255, 255, 255, 0.9);
}
.card.alt .button-container button:active:before, .card.alt .button-container button:focus:before {
  display: none;
}

/* Keyframes */
@-webkit-keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}
@keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}

.modal-content .modal-body {
    min-height: 500px;
}
.form-group .form-control:focus, .form-group-default .form-control:focus {
    background-image: none;
}
.wysihtml5-sandbox{
    border-bottom: 1px solid #e8e8e8 !important;
}

