.chip {
    display: inline-block;
    margin-top: 7px;
    padding: 0 25px;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    border-radius: 25px;
    background-color: #f1f1f1;
  img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
}
.invite-form{
  margin-top: 20px;
}
.video-container{
    padding: 25px 25px;
    text-align: center;
    .wrapper {
        display: inline-block;
    }
}
.gallary-container{
    
    .upload-gallery {
        -webkit-column-count: 3; /* Chrome, Safari, Opera */
        -moz-column-count: 3; /* Firefox */
        column-count: 3;
        a > img{ width: 100%; padding: 7px 0;}
    }
    @media (max-width: 500px) {
        .upload-gallery {
            -webkit-column-count: 1; /* Chrome, Safari, Opera */
            -moz-column-count: 1; /* Firefox */
            column-count: 1;
        }
            
    }
}
