<h1 style="margin: auto; text-align:center">Trips search result!!!</h1>
<div class="container">
  <% if !@trips.blank? %>
          <div class="container" style="margin-top:20px;">
              <%= render partial: 'trips/summary', collection: @trips, as: :trip %>
          </div>
  <% else %>
      <h3>No Trips match your search</h3>
      <%= link_to "Back to homepage", root_path %>
  <% end %>
</div>