<aside class="sidebar">
    <section class="widget recent-post-widget animatedParent">
        <h5 class="widget-title animated fadeInDownShort">Place Related</h5>
        <article class="post blog-post-widget clearfix animated fadeInUpShort">
            <figure class="blog-feature-img pull-right">
                <%= image_tag "blog-post-widget-img.jpg" %>
            </figure>
            <h6 class="title"><a href="#">the standard blog post title</a></h6>
        </article>
        <article class="post blog-post-widget clearfix animated fadeInUpShort">
            <figure class="blog-feature-img pull-right">
                <%= image_tag "blog-post-widget-img.jpg" %>
            </figure>
            <h6 class="title"><a href="#">the standard blog post title</a></h6>
        </article>
        <article class="post blog-post-widget clearfix animated fadeInUpShort">
            <figure class="blog-feature-img pull-right">
                <%= image_tag "blog-post-widget-img.jpg" %>
            </figure>
            <h6 class="title"><a href="#">the standard blog post title</a></h6>
        </article>
    </section>
    <section class="widget widget-text animatedParent">
        <h5 class="widget-title animated fadeInDownShort">LTRIP</h5>
        <p class="animated fadeInUpShort">  We are team 6 </p>
    </section>
</aside>