<aside class="sidebar">
  <section class="widget recent-post-widget animatedParent">
    <h5 class="widget-title animated fadeInDownShort">Place Related</h5>
    <% if @relative_places.any? %>
      <% @relative_places.each do |place| %>
        <article class="post blog-post-widget clearfix animated fadeInUpShort">
          <figure class="blog-feature-img pull-right">
            <%= image_tag place.display_image_url %>
          </figure>
          <h6 class="title">
            <%= link_to place.name, place %>
          </h6>
        </article>
      <% end %>
    <% else %>
      <p class="lable-danger">
        None relative place.
      </p>
    <% end %>
  </section>
  <section class="widget widget-text animatedParent">
    <h5 class="widget-title animated fadeInDownShort">LTRIP</h5>
    <p class="animated fadeInUpShort">  We are team 6 </p>
  </section>
</aside>